<mat-sidenav-container>
    <mat-sidenav class="sidenav" mode="side" opened fixedInViewport="true" fixedTopGap="64">
        <mat-nav-list>
            <a mat-list-item class="item" routerLink="/home">
                <i class="material-icons">home</i>
                Início
            </a>
            <a mat-list-item class="item" routerLink="/login">
                <i class="material-icons">login</i>
                Login
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="content">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>